MSSQL_SA_PASSWORD=ReplaceWithStrongLocalPassword
ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=RMS_Development;User Id=sa;Password=ReplaceWithStrongLocalPassword;TrustServerCertificate=True;Encrypt=False
Jwt__Issuer=RMS
Jwt__Audience=RMS.Client
Jwt__Key=ReplaceWithAtLeast32ByteDevelopmentSecret
Jwt__ExpirationMinutes=1440
SeedData__Enabled=false
SeedData__AdminUsername=admin
SeedData__AdminPassword=SetThroughEnvironmentVariable
SeedData__StaffUsername=staff
SeedData__StaffPassword=SetThroughEnvironmentVariable
SeedData__TenantUsername=tenant
SeedData__TenantPassword=SetThroughEnvironmentVariable
